<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1-admin">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Registro de viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2-admin">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Registrar coche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3-admin">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Reportes generales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>