<ion-header class="toolbar">
  <ion-toolbar>
    <ion-title class="Title">Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ioncontent">

  <ion-card style="--ion-background-color: rgba(0, 6, 85, 0.712);">
    <form #form="ngForm" ngForm="form" (ngSubmit)="guardar(form)">

      <ion-item style="color: white; background: turquoise;">
        <ion-label position="floating">
          <span class="text-nomb">Cantidad</span>
        </ion-label>
        <ion-input  type="number" required [(ngModel)]="model.cantidad" name="cantidad"></ion-input>
      </ion-item>         
      <ion-item style="color: white; background: turquoise;">
        <ion-label>Tipo de pago</ion-label>
        <ion-select [(ngModel)]="model.tipoPago" name="tipoPago" placeholder="Selecciona">          
          <ion-select-option value="efectivo">Efectivo</ion-select-option>
          <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
        </ion-select>
      </ion-item>            
      <div style="display: flex; justify-content: center; text-align: center;">
        <div class="margin">          
          <ion-label class="count">Efectivo: <ion-badge slot="end">{{ efect }}</ion-badge></ion-label><br>
          <ion-label class="count">Tarjeta: <ion-badge slot="end">{{ tarjeta }}</ion-badge></ion-label>
        </div>
      </div>
      <div style="display: flex; justify-content: center; margin: 20px;">
        <ion-button type="submit">Registrar</ion-button>
        <ion-button (click)="regresar()" color="tertiary">Regresar</ion-button>
      </div>
    </form>
  </ion-card>

</ion-content>
