<ion-header class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      <strong class="Title">
        Registro de coche
      </strong>
      <ion-icon (click)="cerrarSesion()" name="log-out-outline" style="float: right; width: 30px; height: 30px; color: rgb(245, 244, 240);"></ion-icon>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de coche</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2 class="text-center">Registrar un nuevo coche</h2>
    <form (ngSubmit)="altaCoche(forma)" #forma="ngForm">
      <ion-item>
        <ion-label position="floating">Placas del carro:</ion-label>
        <ion-input [(ngModel)]="coche.placasCarro" name="placasCarro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Modelo del carro:</ion-label>
        <ion-input [(ngModel)]="coche.modeloCarro" name="modeloCarro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año del carro:</ion-label>
        <ion-input [(ngModel)]="coche.yearCarro" name="yearCarro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Color del carro:</ion-label>
        <ion-input [(ngModel)]="coche.colorCarro" name="colorCarro"></ion-input>
      </ion-item>

      <ion-item class="text">
        <ion-label>Lista de choferes</ion-label>
        <ion-select [(ngModel)]="coche.idChofer" placeholder="Select" name="tipo">
          <ion-select-option *ngFor="let chofer of choferCarrosService.choferes" value="{{chofer._id}}">{{chofer.strNombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button class="mt-3" expand="block" fill="outline" type="submit">Registrar carro</ion-button>

    </form>
  </div>

  <ion-item class="text">
    <ion-label>Lista de choferes</ion-label>
    <ion-select (ionChange)="obtenerCarrosChofer()" [(ngModel)]="choferFiltro" placeholder="Select" name="tipo">
      <ion-select-option *ngFor="let chofer of choferCarrosService.choferes" value="{{chofer._id}}">{{chofer.strNombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="container pt-3">
    <h2>Información de mi coche:</h2>
    
    <hr>

    <ion-card *ngFor="let carro of choferCarrosService.choferCarros">
      <ion-card-header>
        <ion-card-title>{{carro.modeloCarro}} - {{carro.yearCarro}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p style="font-size: 25px;"><span class="font-weight-bold">Placas: </span>{{carro.placasCarro}}</p>
      </ion-card-content>
    </ion-card>

  </div>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="Tab1()">              
        <ion-label><ion-icon name="earth-outline" style="width: 30px; height: 30px;"></ion-icon></ion-label>                      
      </ion-tab-button>
  
      <ion-tab-button (click)="Tab2()">              
        <ion-label><ion-icon name="car-sport-outline" style="width: 30px; height: 30px;"></ion-icon></ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="Tab3()">    
        <ion-label><ion-icon name="book-outline" style="width: 30px; height: 30px;"></ion-icon></ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>  -->
  
</ion-content>
