.margin{
    margin-top: 30px;
}

.toolbar{  
    --ion-toolbar-background: black;    
}

.Title{
    color: white;
}

.ioncontent{
    --background: url(../../assets/fondoApp6.jpg) 0 0/100% 100% no-repeat;
}

.count{
    color: white; 
    margin-top: 10px;
}