#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.contenedor{
  margin: 20px;
  //background-image: url(../../assets/uta.jpg);
  background-color: rgba(0, 0, 0, 0.877);
  //background-size: cover;
  //background-blend-mode: saturation;
  border-radius: 15px;
  //filter: opacity(0.8), sepia(0.8);  
}

.background{
  // // --background: url(../../assets/paris.jpg) 0 0/100% 100% no-repeat; 
  // --background: rgb(0,0,0);
  // --background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 58%, rgba(177,177,177,1) 100%); 
  --background: #000000;
  --background: linear-gradient(180deg, #000000 0%, #1f2023 50%, #8c8c8c 100%);

}

.as{
  --background: none;  
  color: white;
}

.toolbar{  
  --ion-toolbar-background: black;    
}

.toolbar-title{
  display: flex;
}

.title{
  color: orange;
  margin-top: 6px;
  margin-left: 6px;  
}

.list{
  --ion-item-background: transparent;
  
  color: white;
}

.text{
  color: white;
}

.button{
  margin: 15px;
}

.img{
  clip-path: circle(47.5% at 50% 50%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 15px;
}
// .fondo{
// background: #833ab4; /* fallback for old browsers */
// background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }