

  <ion-header>
  
  </ion-header>
  <img src="../../assets/login.png" width="360" height="200">
  
  <ion-content class="ion-padding " color="white" fill="outline">
    <div class="title ion-text-center">
      <h4>Login</h4>
        </div>
  
    <ion-input name="email" placeholder="email" class="primary-input" [(ngModel)]="usuarios.strCorreo"></ion-input>
    <ion-input name="password" placeholder="Password" type="password" class="primary-input" [(ngModel)]="usuarios.strPassword"></ion-input>
  
    <div class="ion-margin-top ion-text-right forget">
      <a>Forgot Password?</a>
    </div>
  
    <div class="ion-margin-top ion-text-center">
      <ion-button size="default" shape="round" (click)="logForm(usuarios)"color="danger">LOGIN</ion-button>
    </div>
  
    <div class="ion-margin-top ion-text-center">
      <a (click)="dismiss()">Close</a>
    </div>
  
    
  
   
    
  
   
  </ion-content>