<ion-header>

   
</ion-header>


<ion-content class="ion-padding ion-text-center" color="white" fill="outline">
  <br>
     <div>
    <h1><b>Aventon</b><b class="uta">UTA</b></h1>
  </div>
  <br>
  <br>
  <img src="..//..//assets/bienvenidos.png" width="280">
    <br>
<h4><b>Bienvenidos</b></h4>
<div class="prf">
  <p>Esta aplicacion es pra los alumnos con problemas de trasporte de la UTA</p>
</div>
<br>

  

  <div class="ion-margin-top">
    <ion-button routerLink="/regusu" expand="block" shape="round" class="ion-margin-top" fill="outline" color="danger">SIGN UP</ion-button>
    <ion-button (click)="loginin()" expand="block" shape="round" class="ion-margin-top" fill="solid" color="danger">LOGIN</ion-button>
  </div>
</ion-content>
